@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a2e;
  --foreground: #eaeaea;
  --primary: #9333ea;
  --primary-dark: #7e22ce;
  --card-bg: #16213e;
  --border: #2d3748;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
